<%- layout("/layouts/boilerPlateNew.ejs") %>
<link rel="stylesheet" href="/elements/fertilizer.css" />
<body>
	<div class="wrapper d-flex flex-column min-vh-100">
		<div class="container mt-3">
			<h2>Available Manures</h2>
			<div class="row">
				<div class="col-md-8">
					<div class="card p-4 mb-3">
						<form action="/manures" id="bookForm" method="POST">
							<div class="d-flex justify-content-between mt-3 custom-borders">
								<div>
									<% for (const product of products) { %> <% if
									(!product.expired) { %>
									<p class="mb-1"><%= product.itemName %></p>
									<% } %> <% } %>
								</div>
								<div class="text-end">
									<% for (const product of products) { %> <% if
									(!product.expired) { %>
									<div
										class="form-check d-flex justify-content-between align-items-center mb-1"
									>
										<label
											class="form-check-label"
											for="product-<%= product._id %>"
										>
											<%= product.quantity %>
										</label>
										<input
											type="checkbox"
											class="form-check-input ms-2"
											name="selectedProducts[]"
											value="<%= product._id %>"
											id="product-<%= product._id %>"
											style="border: 1px solid black"
										/>
									</div>
									<% } %> <% } %>
									<button
										type="submit"
										class="btn btn-success mt-3"
										id="bookButton"
									>
										Book
									</button>
								</div>
							</div>
						</form>
					</div>
					<!-- Confirmation Popup -->
					<div id="confirmationPopup" class="popup">
						<p>Are you sure you want to book this package?</p>
						<div class="d-flex justify-content-between mt-3">
							<button id="confirmButton" class="btn btn-success">
								Confirm
							</button>
							<button id="cancelButton" class="btn btn-danger">Cancel</button>
						</div>
					</div>
					<!-- Overlay for Popup -->
					<div id="popupOverlay" class="overlay"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/JS/fertilizer.js"></script>
