<%- layout("/layouts/boilerPlateNew.ejs") %>
<link rel="stylesheet" href="/elements/fertilizer.css" />

<body>
	<div class="wrapper d-flex flex-column min-vh-100">
		<div class="container mt-3">
			<h2>Available Manures</h2>
			<div class="row">
				<div class="col-md-8">
					<% for(let fb of foodbanks) {%> <% if(fb.products.length!=0){ %>
					<div class="card p-4 mb-3">
						<div class="d-flex justify-content-between mt-3 custom-borders">
							<div>
								<h5><%=fb.title %></h5>
								<% for(let product of fb.products){ %> <% if(product.expired){
								%>
								<p><%=product.itemName %></p>
								<% } %> <% } %>
							</div>
							<div class="text-end">
								<br />
								<% for (let product of fb.products) { %> <% if(product.expired){
								%>
								<p><%= product.quantity %></p>
								<% } %> <% } %>
								<form
									action="/foodbank/<%= fb._id %>?_method=delete"
									method="POST"
								>
									<button class="btn btn-success">Book</button>
								</form>
							</div>
						</div>
					</div>
					<% }%> <% } %>
				</div>
			</div>
		</div>
	</div>
</body>
