<!DOCTYPE html>
<html>
	<head>
		<title>Donation Accepted</title>
	</head>
	<body>
		<h2>Dear <%= individualName %>,</h2>
		<h3>
			This mail is sent to inform you that your donation has been successfully
			accepted by <%= AcceptedBy %>.
		</h3>

		<h3>Products Details:</h3>
		<% products.forEach(product => { %>
		<h3><%= product.itemName %> - <%= product.quantity %></h3>
		<% }); %>
		<h4>Thanks for donating food!</h4>
		<h4>Thanks & Regards,</h4>
		<h4>MealBridge</h4>
		<h4><%=senderEmail %></h4>
	</body>
</html>
